@import "layout/var";

.footer{
    position: relative;
    padding: 36px 0;
    &__flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    p{
        margin-bottom: 0;
    }
    &__reserv{
        font-size: 16px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.4);
        width: 50%;
    }
    &__love{
        font-size: 16px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.4);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        img{
            width: 20px;
            flex-shrink: 0;
            margin-left: 5px;
            margin-bottom: 3px;
        }
    }

    &__socials {
        width: 50%;
    }
}