@import "layout/var";

.start{
    background-color: #202020;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 1199px){
        padding-bottom: 180px;
    }

    @media (max-width: 767px){
        padding-bottom: 130px;
    }

    &__background{
        background-image: url(../img/bg-start.jpg);
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 0.5s;

        @media (max-width: 1199px){
            height: 1024px;
        }

        @media (max-width: 767px){
            height: 587px;
        }
    }
    &__logo{
        margin-bottom: 60px;
        transition: 0.5s;
        
        @media (max-width: 1599px){
            margin-bottom: 40px;
        }

        @media (max-width: 1300px){
            margin-bottom: 120px;
        }

        @media (max-width: 1199px){
            max-width: 680px;
            margin: 0 auto 40px auto;
        }

        @media (max-width: 767px){
            display: none;
        }
    }

    &__logo-img{
        margin: 0 auto;
    }

    &__logo-xs{
        display: none;
        max-width: 680px;
        margin: 0 auto 38px auto;
        
        @media (max-width: 767px){
            display: block;
        }
    }

    &__xs-logo-1 {
        margin: 0 auto 21px auto;
    }

    &__xs-logo-2 {
        margin: 0 auto 10px auto;
        transform: translateX(13px);
    }

    &__xs-logo-text {
        font-size: 14px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }
}