@import "layout/var";

.modal-backdrop.in{
    opacity: 0.7;
}

.modal-backdrop{
    background: #202020;
}

.modal-form{
    &__modal-dialog {
        background: #fff;
        width: 797px;

        @media (max-width: 991px){
            width: 650px;
        }

        @media (max-width: 767px){
            width: 100%;
        }
    }
}

.modal-project{
    &__modal-dialog {
        width: 100%;
        height: 100vh;
        margin: 0;
        position: relative;
        &.slider-initialized{
            height: auto;
            min-height: 100vh;
        }
        &:before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            display: block;
            height: 100%;
            background-size: cover;
            background-position: center;
        
            filter: blur(5px);
        }
        &:after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            display: block;
            height: 100%;
        }
    }
}
.modal-yourso{
    .modal-dialog{
        &:before{
            background-image: url(../img/modal-1.jpg);
        }
        &:after{
            background: rgba(149, 50, 18, 0.4);
        }
    }
}
.modal-inv{
    .modal-dialog{
        &:before{
            background-image: url(../img/modal-2.jpg);
        }
        &:after{
            background: rgba(56, 12, 111, 0.4);
        }
    }
}
.modal-its{
    .modal-dialog{
        &:before{
            background-image: url(../img/modal-3.jpg);
        }
        &:after{
            background: rgba(9, 90, 101, 0.4);
        }
    }
}

.close-modal{
    width: 40px;
    height: 40px;
    display: block;
    border: none;
    background: transparent;
    outline: none;
    position: absolute;
    top: 66px;
    right: 65px;
    z-index: 120;
    padding: 0;
    border-radius: 0;
    @media (max-width: 767px){
        top: 23px;
        right: 15px;
        width: 24px;
        height: 24px;
    }
    &:before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -0.5px;
        width: 1px;
        height: 100%;
        background: #fff;
        transform-origin: center;
        transform: rotate(45deg); 
    }
    &:after{
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -0.5px;
        width: 100%;
        height: 1px;
        background: #fff;
        transform-origin: center;
        transform: rotate(45deg);  
    }

    &--form-close {
        top: 15px;
        right: 15px;
        width: 20px;
        height: 20px;

        &::before {
            background: #000;
        }

        &::after {
            background: #000;
        }
    }
}

.modal-slider{
    transition: 0.3s;
    opacity: 0;
    position: relative;
    z-index: 100;
    &.visible-slider{
        opacity: 1;
    }
    .slick-dots{
        position: absolute;
        bottom: 50px;
        left: 64px;
        padding: 0;
        margin: 0;
        display: flex!important;
        list-style: none;
        @media (max-width: 767px){
            bottom: 25px;
            left: 50%;
            transform: translateX(-50%);
        }
        li{
            padding-right: 8px;
            button{
                display: block;
                padding: 0;
                border: none;
                width: 12px;
                height: 12px;
                outline: none;
                font-size: 0;
                background: rgba(255, 255, 255, 0.32);
                border-radius: 50%;
            }
            &.slick-active{
                button{
                    background: #fff;
                }
            }
        }
    }
}
.modal-slide{
    padding: 130px 64px 90px 64px;
    min-height: 100vh;
    @media (max-width: 767px){
        padding: 100px 16px 32px 16px;
    }
    &__name{
        line-height: 104px;
        font-size: 88px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        font-weight: $b;
        color: #FFFFFF;
        margin-bottom: 65px;
        @media (max-width: 767px){
            line-height: 48px;
            font-size: 42px;
            margin-bottom: 50px;
        }
    }
    &__title{
        line-height: 31px;
        font-size: 25px;
        margin-bottom: 37px;
        color: #FFFFFF;
        font-weight: $b;
        @media (max-width: 767px){
            line-height: 24px;
            font-size: 17px;
            margin-bottom: 25px;
        }
    }
    &__text{
        line-height: 32px;
        font-size: 20px;
        color: #FFFFFF;
        @media (max-width: 767px){
            line-height: 24px;
            font-size: 14px;
        }
    }
    &__list{
        list-style: none;
        margin: 0;
        padding: 0;
        margin-bottom: 56px;
        @media (max-width: 767px){
            margin-bottom: 40px;
        }
        li{
            line-height: 31px;
            font-size: 25px;
            margin-bottom: 32px;
            color: #FFFFFF;
            font-weight: $b;
            @media (max-width: 767px){
                line-height: 24px;
                font-size: 17px;
                margin-bottom: 24px;
            }
        }
    }
    &__flex{
        display: flex;
    }
    &__button{
        display: block;
        padding: 22px 35px;
        border: 1px solid #FFFFFF;
        line-height: 29px;
        font-size: 23px;
        text-align: center;
        text-transform: uppercase;
        font-weight: $m;
        color: #FFFFFF;
        @media (max-width: 767px){
            width: 100%;
            line-height: 22px;
            font-size: 17px;
            padding: 24px 0;
            text-align: center;
        }
    }
}