@import "layout/var";

.xs-title-about{
    display: none;
    line-height: 36px;
    font-size: 25px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: $r;
    @media (max-width: 1199px){
        display: block;
    }
    @media (max-width: 767px){
        line-height: 20px;
        font-size: 14px;
        margin-bottom: 25px;
    }
}