@import "layout/var";



.close-project{
    width: 40px;
    height: 40px;
    display: block;
    border: none;
    background: transparent;
    outline: none;
    position: relative;
    z-index: 50;
    &:before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -0.5px;
        width: 1px;
        height: 100%;
        background: #fff;
        transform-origin: center;
        transform: rotate(45deg); 
    }
    &:after{
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -0.5px;
        width: 100%;
        height: 1px;
        background: #fff;
        transform-origin: center;
        transform: rotate(45deg);  
    }
}
.open-close-menu{
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-756px);
    height: 44px;
    width: 48px;
    z-index: 100;
    background: transparent;
    padding: 14px 0;
    border: none;
    outline: none;
    display: none;
    @media (max-width: 1919px){
        transform: translateX(-670px);
    }
    @media (max-width: 1599px){
        transform: translateX(-620px);
    }
    @media (max-width: 1300px){
        transform: translateX(-575px);
    }
    &.showed{
        display: block;
    }
    &.opened{
        &:before{
            transform: rotate(-45deg);
            background: #D2D2D2!important;
            top: 50%;
        }
        &:after{
            transform: rotate(45deg);
            background: #D2D2D2!important;
            bottom: calc(50% - 1px);
        }
    }
    &.black-style{
        &:before{
            //background: #202020;
        }
        &:after{
            //background: #202020;
        }
    }
    &:before{
        content: "";
        display: block;
        position: absolute;
        top: 14px;
        height: 1px;
        background: #D2D2D2;
        left: 0;
        width: 100%;
        transform-origin: center;
        transition: 0.3s;
    }
    &:after{
        content: "";
        display: block;
        position: absolute;
        bottom: 13px;
        height: 1px;
        background: #D2D2D2;
        left: 0;
        width: 100%;
        transform-origin: center;
        transition: 0.3s;
    }
}