@import "layout/var";


.contacts{
    background-color: #202020;
    position: relative;
    overflow: hidden!important;
    @media (max-width: 1199px){
        padding: 0 64px;
        background: #fff;
    }
    @media (max-width: 767px){
        padding: 0;
    }
    &.visible{
        .contacts__wrapp__bott{
            animation: show-slide-to-top 0.3s 0.25s ease-out forwards;
        }
        .contacts__wrapp{
            &.form-mode{
                .contacts__wrapp__top__title span{
                    transform: translateY(0);
                    transition-delay: 0.25s;
                }
                .flex-contacts{
                    transform: translateY(0);
                    opacity: 1;
                    z-index: 40;
                    transition-delay: 0.25s;
                }
                .addresses{
                    transform: translateY(50px);
                    opacity: 0;
                    transition-delay: 0s;
                }
                .contacts__wrapp__top__map{
                    opacity: 0;
                    transition-delay: 0s;
                }
                .contacts__wrapp__top__map__circle{
                    opacity: 0;
                }
            }
            &.map-mode{
                .flex-contacts{
                    transform: translateY(50px);
                    opacity: 0;
                    transition-delay: 0s;
                }
                .contacts__wrapp__top__title span{
                    transition-delay: 0s;
                }
                .addresses{
                    transform: translateY(0);
                    opacity: 1;
                    transition-delay: 0.25s;
                    z-index: 40;
                }
                .contacts__wrapp__top__map{
                    opacity: 1;
                    transition-delay: 0.25s;
                }
                .contacts__wrapp__top__map__circle{
                    opacity: 1;
                }
            }
        } 
    }
    &.hide-section{
        .contacts__wrapp__bott{
            animation: hide-slide-to-bott 0.3s 0.25s ease-out forwards;
            transform: translate(0);
        }
        .contacts__wrapp{
            &.form-mode{
                .contacts__wrapp__top__title span{
                    transform: translateY(100%);
                    transition-delay: 0.25s;
                }
                .flex-contacts{
                    transform: translateY(0);
                    opacity: 0;
                    z-index: 40;
                    transition-delay: 0.25s;
                }
                .addresses{
                    transform: translateY(50px);
                    opacity: 0;
                    transition-delay: 0s;
                }
                .contacts__wrapp__top__map{
                    opacity: 0;
                    transition-delay: 0s;
                }
                .contacts__wrapp__top__map__circle{
                    opacity: 0;
                }
            }
            &.map-mode{
                .flex-contacts{
                    transform: translateY(50px);
                    opacity: 0;
                    transition-delay: 0s;
                }
                .contacts__wrapp__top__title span{
                    transition-delay: 0s;
                }
                .addresses{
                    transform: translateY(0);
                    opacity: 0;
                    transition-delay: 0.25s;
                    z-index: 40;
                }
                .contacts__wrapp__top__map{
                    opacity: 0;
                    transition-delay: 0.25s;
                }
                .contacts__wrapp__top__map__circle{
                    opacity: 0;
                }
            }
        }
        
    }
    &__wrapp{
        position: relative;
        
        &__top{
            height: 530px;
            background: #202020;
            position: relative;
            @media (max-width: 1919px){
                height: 430px;
            }
            @media (max-width: 1599px){
                height: 325px;
            }
            @media (max-width: 1300px){
                height: 530px;
            }
            @media (max-width: 1199px){
                display: none;
            }
            &__title{
                position: relative;
                padding-top: 265px;
                line-height: 112px;
                font-size: 98px;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                font-weight: $b;
                color: #FFFFFF;
                overflow: hidden;
                margin: 0;
                @media (max-width: 1919px){
                    padding-top: 227px;
                }
                @media (max-width: 1599px){
                    padding-top: 161px;
                }
                @media (max-width: 1300px){
                    padding-top: 265px;
                }
                span{
                    display: block;
                    transform: translateY(100%);
                    transition: 0.25s;
                }

            }
            &__map{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-position: center;
                background-image: url(../img/amap.jpg);
                opacity: 0;
                transition: 0.25s;
                &__circle{
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background: #fff;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    opacity: 0;
                    transition: 0.3s;
                    &.circle-1{
                        transform: translate(-35px, -73px);
                        transition-delay: 0.25s;
                    }
                    &.circle-2{
                        transform: translate(-31px, -96px);
                        transition-delay: 0.35s;
                    }
                    &.circle-3{
                        transform: translate(22px, -104px);
                        transition-delay: 0.45s;
                    }
                    &.circle-4{
                        transform: translate(81px, -84px);
                        transition-delay: 0.55s;
                    }
                }
            }
        }
        &__bott{
            position: relative;
            background: #fff;
            opacity: 1;
            min-height: calc(100vh - 530px);
            transform: translateY(100%);
            @media (max-width: 1919px){
                min-height: calc(100vh - 430px);
            }
            @media (max-width: 1599px){
                min-height: calc(100vh - 325px);
            }
            @media (max-width: 1300px){
                height: 530px;
                min-height: calc(100vh - 530px);
            }
            @media (max-width: 1199px){
                height: auto;
                min-height: auto;
                transform: none;
            }
        }
    }
}
.rel-contacts-wrapp{
    position: relative;
}
.sm-contacts-title{
    display: none;
    @media (max-width: 1199px){
        display: block;
        line-height: 36px;
        font-size: 25px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 53px;
        color: #202020;
    }
    @media (max-width: 767px){
        line-height: 20px;
        font-size: 14px;
        margin-bottom: 28px;
    }
}
.flex-contacts{
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateY(50px);
    opacity: 0;
    transition: 0.25s;
    @media (max-width: 1919px){
        padding-top: 32px;
    }
    @media (max-width: 1599px){
        padding-top: 24px;
    }
    @media (max-width: 1300px){
        padding-top: 32px;
    }
    @media (max-width: 1199px){
        opacity: 1;
        transform: translate(0);
        position: relative;
        display: block;
        padding-top: 84px;
    }
    &__left{
        
        &__list{
            margin: 0;
            padding: 0;
            margin-bottom: 73px;
            list-style: none;
            @media (max-width: 1199px){
                margin-bottom: 100px;
            }
            @media (max-width: 767px){
                margin-bottom: 70px;
            }
            li{
               margin-bottom: 20px;
                color: #202020;
                font-weight: $b;
                line-height: 16px;
                font-size: 13px;
                a{
                    color: #202020;
                }
                @media (max-width: 1199px){
                    margin-bottom: 0;
                    line-height: 32px;
                    font-size: 20px;
                    font-weight: $r;
                }
                @media (max-width: 767px){
                    line-height: 24px;
                    font-size: 14px;
                }
            }
        }
        &__button{
            display: flex;
            @media (max-width: 1199px){
                display: none;
            }
            button{
                outline: none;
                display: block;
                background: transparent;
                font-size: 13px;
                text-align: center;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                font-weight: $b;
                padding: 11px 28px;
                border: 1px solid rgba(32, 32, 32, 0.8);
                
            }
        }
    }
    &__right{
        width: 950px;
        flex-shrink: 0;
        @media (max-width: 1919px){
            width: 805px;
        }
        @media (max-width: 1599px){
            width: 735px;
        }
        @media (max-width: 1300px){
            width: 677px;
        }
        @media (max-width: 1199px){
            width: 100%;
        }
        &__title{
            line-height: 32px;
            font-size: 25px;
            letter-spacing: 0.02em;
            margin-top: 0;
            color: #202020;
            font-weight: $b;
            margin-bottom: 50px;
            @media (max-width: 1919px){
                margin-bottom: 30px;
            }
            @media (max-width: 1599px){
                margin-bottom: 15px;
            }
            @media (max-width: 1300px){
                margin-bottom: 30px;
            }
            @media (max-width: 1199px){
                margin-bottom: 10px;
                br{
                    display: none;
                }
            }
            @media (max-width: 767px){
                line-height: 24px;
                font-size: 17px;
                br{
                    display: block;
                }
            }
        }
        &__form{
            &__top{
                display: flex;
                margin-bottom: 20px;
                @media (max-width: 767px){
                    display: block;
                }
                &__side{
                    width: 50%;
                    @media (max-width: 767px){
                        width: 100%;
                    }
                    &:first-child{
                        padding-right: 8px;
                        @media (max-width: 1199px){
                            padding-right: 16px;
                        }
                        @media (max-width: 767px){
                            padding: 0;
                        }
                    }
                    &:last-child{
                        padding-left: 8px;
                        @media (max-width: 1199px){
                            padding-left: 16px;
                        }
                        @media (max-width: 767px){
                            padding: 0;
                        }
                    }
                }
            }
            &__bott{
                display: flex;
                margin-bottom: 20px;
                align-items: flex-end;
                @media (max-width: 1199px){
                    margin-bottom: 0;
                    padding-bottom: 140px;
                }
                @media (max-width: 767px){
                    display: block;
                    padding-bottom: 120px;
                }
                &__side{
                    
                    &:first-child{
                        padding-right: 8px;
                        width: 100%;
                        @media (max-width: 1199px){
                            padding-right: 16px;
                        }
                        @media (max-width: 767px){
                            padding: 0;
                        }
                    }
                    &:last-child{
                        padding-left: 8px;
                        width: 130px;
                        flex-shrink: 0;
                        @media (max-width: 1199px){
                            padding-left: 16px;
                            width: 192px;
                        }
                        @media (max-width: 767px){
                            padding: 0;
                            width: 100%;
                        }
                    }
                }
            }
            input,textarea{
                display: block;
                width: 100%;
                outline: none;
                border: none;
                background: #fff;
                line-height: 16px;
                font-size: 13px;
                color: #202020;
                border-bottom: 1px solid rgba(32, 32, 32, 0.8);
                padding: 11px 0;
                &::-webkit-input-placeholder {color:#202020;}
                &::-moz-placeholder{color:#202020;}
                &:-moz-placeholder{color:#202020;}
                &:-ms-input-placeholder{color:#202020;}
                @media (max-width: 1199px){
                    line-height: 39px;
                    font-size: 23px;
                    padding: 25px 0;
                }
                @media (max-width: 767px){
                    line-height: 24px;
                    font-size: 14px;
                    padding: 21px 0;
                    margin-bottom: 10px;
                }
            }
            textarea{
                height: 112px;
                resize: none;
                @media (max-width: 1199px){
                    height: 140px;
                }
                @media (max-width: 767px){
                    margin-bottom: 48px;
                    height: 130px;
                }
            }
            button{
                display: block;
                width: 100%;
                background: #202020;
                padding: 12px 0;
                font-size: 13px;
                text-align: center;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                color: #fff;
                font-weight: $b;
                border: none;
                @media (max-width: 1199px){
                    line-height: 29px;
                    font-size: 23px;
                    padding: 18px 0;
                    font-weight: $m;
                }
                @media (max-width: 767px){
                    line-height: 21px;
                    font-size: 17px;
                    padding: 24px 0;
                }
            }
        }
    }
    
}
.addresses{
    padding-top: 42px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateY(50px);
    opacity: 0;
    transition: 0.25s;
    @media (max-width: 1919px){
        padding-top: 32px;
    }
    @media (max-width: 1599px){
        padding-top: 24px;
    }
    @media (max-width: 1300px){
        padding-top: 32px;
    }
    @media (max-width: 1199px){
        display: none;
    }
    &__title{
        font-weight: $m;
        line-height: 32px;
        font-size: 25px;
        letter-spacing: 0.02em;
        color: #2B2B2B;
        margin: 0 0 47px 0;
        @media (max-width: 1919px){
            margin: 0 0 28px 0;
        }
        @media (max-width: 1599px){
            margin: 0 0 11px 0;
        }
        @media (max-width: 1300px){
            margin: 0 0 28px 0;
        }
    }
    &__list{
        display: flex;
        margin-bottom: 50px;
        @media (max-width: 1919px){
            margin-bottom: 30px;
        }
        @media (max-width: 1599px){
            margin-bottom: 20px;
        }
        @media (max-width: 1300px){
            margin-bottom: 30px;
        }
        &__item{
            width: 192px;
            flex-shrink: 0;
            margin-right: auto;
            &__title{
                font-weight: $b;
                line-height: 16px;
                font-size: 13px;
                margin-bottom: 16px;
                color: #000000;
            }
            &__where-1{
                line-height: 16px;
                font-size: 13px;
                margin-bottom: 16px;
                color: #2B2B2B;
            }
            &__where-2{
                font-size: 13px;
                letter-spacing: 0.04em;
                color: #000000;
            }
        }
    }
}
.footer-xs{
    display: none;
    @media (max-width: 1199px){
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #202020;
        padding: 50px 64px;
    }
    @media (max-width: 767px){
        padding: 34px 16px;
        display: block;
    }
    p{
        line-height: 17px;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.25);
        display: flex;
        align-items: center;
        img{
            margin-left: 5px;
            display: block;
            position: relative;
            top: -1px;
        }
        
    }
}