@import "layout/var";


.news{
    background-color: #202020;
    position: relative;
    overflow: hidden!important;
    @media (max-width: 1199px){
        padding-bottom: 30px;
    }
    &.visible{
        .news-wrapp__left h3 span{
            animation: show-slide-to-top 0.25s 0.25s linear forwards;
        }
        .nav-tabs{
            li:nth-child(1){
                a{
                    animation: show-slide-to-top 0.25s 0.35s linear forwards;
                }
            }
            li:nth-child(2){
                a{
                    animation: show-slide-to-top 0.25s 0.45s linear forwards;
                }
            }
            li:nth-child(3){
                a{
                    animation: show-slide-to-top 0.25s 0.55s linear forwards;
                }
            }
        }
        .cube-bg{
            &__animation{
                animation: width-to-100 0.55s 0.25s forwards;
                
            }
        }
    }
    &.hide-section{
        .news-wrapp__left h3 span{
            animation: hide-slide-to-top 0.25s 0.25s linear forwards;
            transform: translate(0);
        }
        .nav-tabs{
            li:nth-child(1){
                a{
                    animation: hide-slide-to-top 0.25s 0.35s linear forwards;
                    transform: translate(0);
                }
            }
            li:nth-child(2){
                a{
                    animation: hide-slide-to-top 0.25s 0.45s linear forwards;
                    transform: translate(0);
                }
            }
            li:nth-child(3){
                a{
                    animation: hide-slide-to-top 0.25s 0.55s linear forwards;
                    transform: translate(0);
                }
            }
        }
        .cube-bg{
            &__animation{
                animation: width-to-0 0.55s 0.25s forwards;
                width: 100%;
            }
        }
    }
    .cube-bg{
        position: absolute;
        top: 144px;
        right: 0;
        width: 60%;
        height: 710px;
        @media (max-width: 1919px){
            height: 674px;
        }
        @media (max-width: 1599px){
            height: 576px;
        }
        @media (max-width: 1300px){
            height: 674px;
            top: 139px;
        }
        &__animation{
            background: #fff;
            position: absolute;
            width: 0;
            height: 100%;
            top: 0;
            right: 0;
        }
    }
    
}
.nav-tabs{
    border: none;
    @media (max-width: 1199px){
        display: none;
    }
    li{
        float: none;
        margin-bottom: 34px;
        position: relative;
        overflow: hidden;
    }
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
    background: transparent;
    color: #fff;
    border: none;
}

.nav-tabs>li>a{
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.3);
    font-weight: $m;
    font-size: 25px;
    letter-spacing: 0.02em;
    border: none;
    transform: translateY(100%);
    &:hover{
        background: transparent;
        border: none;
        color: rgba(255, 255, 255, 0.3);
    }
}
.sm-news{
    display: none;
    @media (max-width: 1199px){
        display: block;
    }
    &__item{
        margin-bottom: 100px;
        @media (max-width: 767px){
            margin-bottom: 50px;
        }
        &__date{
            line-height: 34px;
            font-size: 20px;
            margin-bottom: 7px;
            color: rgba(255, 255, 255, 0.65);
            @media (max-width: 767px){
                line-height: 16px;
                font-size: 13px;
                letter-spacing: 0.01em;
            }
            span{
                padding-right: 24px;
                @media (max-width: 767px){
                    padding-right: 12px;
                }
            }
        }
        &__name{
            display: block;
            line-height: 31px;
            font-size: 25px;
            font-weight: $b;
            color: #FFFFFF;
            margin-bottom: 43px;
            @media (max-width: 767px){
                line-height: 24px;
                font-size: 17px;
                margin-bottom: 24px;
            }
        }
        &__button{
            line-height: 34px;
            font-size: 20px;
            color: rgba(255, 255, 255, 0.65);
            @media (max-width: 767px){
                line-height: 23px;
                font-size: 17px;
            }
        }
    }
}
.news-wrapp{
    display: flex;
    @media (max-width: 1199px){
        display: block;
        padding-top: 120px;
    }
    @media (max-width: 767px){
        padding-top: 82px;
    }
    &__left{
        width: 45%;
        padding-top: 265px;
        @media (max-width: 1919px){
            padding-top: 227px;
        }
        @media (max-width: 1599px){
            padding-top: 161px;
        }
        @media (max-width: 1300px){
            padding-top: 265px;
        }
        @media (max-width: 1199px){
            padding-top: 0;
            width: 100%;
        }
        h3{
            margin: 0;
            position: relative;
            font-weight: $b;
            color: #fff;
            font-size: 98px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            margin-bottom: 100px;
            overflow: hidden;
            @media (max-width: 1199px){
                line-height: 36px;
                font-size: 25px;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                font-weight: $r;
                margin-bottom: 80px;
            }
            @media (max-width: 767px){
                line-height: 20px;
                font-size: 14px;
                margin-bottom: 53px;
            }
            span{
                display: block;
                transform: translateY(100%);
                @media (max-width: 1199px){
                    transform: none;
                }
            }
        }
    }
    &__right{
        width: 55%;
        padding-top: 275px;
        position: relative;
        z-index: 30;
        max-width: 615px;
        
        @media (max-width: 1919px){
            padding-top: 247px;
        }
        @media (max-width: 1599px){
            padding-top: 181px;
        }
        @media (max-width: 1300px){
            padding-top: 275px;
        }
        @media (max-width: 1199px){
            display: none;
        }
    }
}
.new-content{
    &__counter{
        overflow: hidden;
        position: relative;
        display: flex;
        span{
            display: block;
            font-size: 25px;
            letter-spacing: 0.05em;
            color: #202020;
            margin-bottom: 19px;
        }
        &__item{
            position: relative;
            margin-right: 38px;

            span{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                transform: translateY(30px);
                opacity: 0;

            }
        }
    }
    &__title{
        font-size: 25px;
        font-weight: $b;
        position: relative;
        color: #202020;
        margin-bottom: 47px;
        min-height: 96px;
        &__link{
            color: #202020;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            transform: translateY(30px);
            opacity: 0;
        }
    }
    &__text{
        font-size: 13px;
        position: relative;
        min-height: 84px;
        margin-bottom: 48px;
        &__item{
            color: #202020;
            font-size: 13px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            transform: translateY(30px);
            opacity: 0;
        }
    }
    &__link{
        margin-bottom: 150px;
        display: block;
        position: relative;
        &__item{
            font-size: 13px;
            text-decoration-line: underline;
            color: #202020;
            font-weight: $b;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            transform: translateY(30px);
            opacity: 0;
        }
    }
}

.arrows-news-wrapp{
    position: relative;
    &__butt{
        position: absolute;
        right:calc(100% + 45px);
        border: none;
        background-color: transparent;
        outline: none;
        background-image: url(../img/arrow-top.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 24px;
        height: 24px;
        display: block;
        transform-origin: center;
        @media (max-width: 1599px){
            right:calc(100% + 30px);
        }
        &--top{
            top: 59px;
            
        }
        &--bott{
            top: 220px;
            transform: rotate(180deg);
        }
    }
}

.news-animation{
    &.visible-scroll-bott{
        animation: show-slide-to-top-news 0.20s ease-out forwards;
    }
    &.hide-scroll-bott{
        animation: hide-slide-to-top-news 0.20s ease-out forwards;
    }
    &.visible-scroll-top{
        animation: show-slide-to-bott-news 0.20s ease-out forwards;
    }
    &.hide-scroll-top{
        animation: hide-slide-to-bott-news 0.20s ease-out forwards;
    }
}