@import "layout/var";

.start{
    background-color: #202020;
    position: relative;
    @media (max-width: 1199px){
        padding-bottom: 180px;
        overflow: inherit!important;
    }
    @media (max-width: 767px){
        padding-bottom: 130px;
    }
    &.loaded{
        .start__background{
            opacity: 1;
        }
        .start__logo{
            opacity: 1;
        }
    }
    &__background{
        background-image: url(../img/bg-start.jpg);
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 0.5s;
        opacity: 0;
        @media (max-width: 1199px){
            height: 1024px;
        }
        @media (max-width: 767px){
            height: 587px;
        }
    }
    &__logo{
        margin-bottom: 60px;
        transition: 0.5s;
        opacity: 0;
        
        @media (max-width: 1599px){
            margin-bottom: 40px;
        }
        @media (max-width: 1300px){
            margin-bottom: 120px;
        }
        @media (max-width: 1199px){
            max-width: 680px;
            margin: 0 auto 40px auto;
        }
        @media (max-width: 767px){
            display: none;
        }
        img{
            margin: 0 auto;
        }
    }
    &__logo-xs{
        display: none;
        max-width: 680px;
        margin: 0 auto 38px auto;
        
        @media (max-width: 767px){
            display: block;
        }
        .logo-1{
            margin: 0 auto 21px auto;
        }
        .logo-2{
            margin: 0 auto 10px auto;
            transform: translateX(13px);
        }
        p{
            font-size: 14px;
            text-align: center;
            letter-spacing: 0.03em;

            color: #FFFFFF;
        }
    }
    &__scroller{
        height: 32px;
        width: 32px;
        overflow: hidden;
        margin: 0 auto;
        display: none;
        
        &.delay{
            display: block;
            @media (max-width: 1199px){
                display: none;
            }
        }
        &.xs-show-scroller{
            @media (max-width: 1199px){
                display: block;
            }
        }
        &--scroller-projects{
            position: fixed;
            z-index: 10;
            top: 840px;
            left: 50%;
            transform: translateX(-760px);
            @media (max-width: 1919px){
                top: 740px;
                transform: translateX(-670px);
            }
            @media (max-width: 1599px){
                top: 608px;
                transform: translateX(-670px);
            }
            @media (max-width: 1300px){
                top: 800px;
                transform: translateX(-575px);
            }
            .start__scroller__line{
                width: 1px;
            }
        }
        &--scroller-projects-opened{
            position: fixed;
            z-index: 10;
            top: 840px;
            left: 50%;
            transform: translateX(-760px);
            .start__scroller__line{
                background: #2B2B2B;
            }
            @media (max-width: 1919px){
                top: 740px;
                transform: translateX(-670px);
            }
            @media (max-width: 1599px){
                top: 608px;
                transform: translateX(-670px);
            }
            @media (max-width: 1300px){
                top: 800px;
                transform: translateX(-575px);
            }
        }
        &--scroller-about{
            position: absolute;
            top: calc(100% + 110px);
            left: -16px;
            @media (max-width: 1919px){
                top: calc(100% + 80px);
            }
            @media (max-width: 1599px){
                top: calc(100% + 45px);
            }
            @media (max-width: 1300px){
                top: calc(100% + 75px);
            }
        }
        &--scroller-news{
            position: relative;
            margin: 0;
            z-index: 10;
            left: -16px;
            .start__scroller__line{
                background: #2B2B2B;
            }
        }
        &__line{
            width: 1px;
            margin: 0 auto;
            height: 64px;
            background: rgba(255, 255, 255, 0.8);
            animation: line-move 2s ease-out infinite;
        }
    }
}
.abs-footer-start{
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    @media (max-width: 1199px){
        display: none;
    }
    &__flex{
        display: flex;
        justify-content: space-between;
        p{
            margin-bottom: 0;
        }
        &__reserv{
            line-height: 16px;
            font-size: 13px;
            color: rgba(255, 255, 255, 0.4);
        }
        &__love{
            line-height: 16px;
            font-size: 13px;
            color: rgba(255, 255, 255, 0.4);
            display: flex;
            align-items: center;
            img{
                flex-shrink: 0;
                margin-left: 5px;
            }
        }
    }
}