@import "layout/var";

.arrows-news-wrapp{
    position: relative;
    &__butt{
        position: absolute;
        right:calc(100% + 45px);
        border: none;
        background-color: transparent;
        outline: none;
        background-image: url(../img/arrow-top.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 24px;
        height: 24px;
        display: block;
        transform-origin: center;
        @media (max-width: 1599px){
            right:calc(100% + 30px);
        }
        &--top{
            top: 59px;
            
        }
        &--bott{
            top: 220px;
            transform: rotate(180deg);
        }
    }
}

.news-animation{
    &.visible-scroll-bott{
        animation: show-slide-to-top-news 0.20s ease-out forwards;
    }
    &.hide-scroll-bott{
        animation: hide-slide-to-top-news 0.20s ease-out forwards;
    }
    &.visible-scroll-top{
        animation: show-slide-to-bott-news 0.20s ease-out forwards;
    }
    &.hide-scroll-top{
        animation: hide-slide-to-bott-news 0.20s ease-out forwards;
    }
}