@import "layout/var";


.news{
    background-color: #202020;
    position: relative;
    overflow: hidden;

    @media (max-width: 1199px){
        padding-bottom: 30px;
    } 
}

.nav-tabs{
    border: none;
    @media (max-width: 1199px){
        display: none;
    }
    li{
        float: none;
        margin-bottom: 34px;
        position: relative;
        overflow: hidden;
    }
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
    background: transparent;
    color: #fff;
    border: none;
}

.nav-tabs>li>a{
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.3);
    font-weight: $m;
    font-size: 25px;
    letter-spacing: 0.02em;
    border: none;
    &:hover{
        background: transparent;
        border: none;
        color: rgba(255, 255, 255, 0.3);
    }
}